<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm"> <!--creates reference to form object-->
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      ngModel
      required
      minlength="3"
      placeholder="Post Title"
      #title="ngModel"> <!--creates references to form data-->
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      rows="4"
      name="content"
      placeholder="Post Content"
      ngModel
      required
      #content="ngModel"></textarea> <!--- [value]="" is changing the value of a property named value within the textarea object, incredible.--->
      <mat-error *ngIf="title.invalid">Please enter a post description.</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color = "primary"
    type="submit">Save Post</button> <!--- (click is an angular method, adds a listener directly into the template, pretty cool.) --->
  </form>
</mat-card>
